<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gunjan.xmpp.smack.smackxmpp_01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ChatViewACtivity"
            android:parentActivityName=".ChatListActivity" />

        <service android:name=".xmpp.RoosterConnectionService" />

        <activity
            android:name=".FloatingListActivity"
            android:label="@string/title_activity_floating_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mectivity"
            android:label="profile"
            android:parentActivityName=".ChatListActivity" />
        <activity android:name=".ContactDetailActivity"
            android:parentActivityName=".FloatingListActivity"
            ></activity>
    </application>

</manifest>